{% extends 'base.html' %}


{% block content %}
<div class="jumbotron">
    <center>
        <h1>URLShort Url Shortener</h1>
        <a href="/create/"><button type="button" class="btn btn-secondary">Create New URL</button></a>
    </center>
</div>

<div class="jumbotron">
    <center>
        <h3>Check Out My Other Projects</h3>
        <a href="https://www.youtube.com/channel/UCgF78i8PUYdKLgjpyeCJ7Qg"><button type="button"
                class="btn btn-primary">Here</button></a>
    </center>
</div>
{% endblock content %}